h1 {
  color: yellowgreen;
  border-bottom: 2px solid black;
}

#content {
  font-size: 20px;
  font-weight: bold;
  gap: 20px;
}

h2 {
  color: rgb(233, 122, 122);
  text-decoration: underline;
}

h4 {
  border-bottom: 2px solid black;
}

li {
  list-style: square;
  font-weight: lighter;
  font-size: 19px;
  margin-top: 15px;
}

#search,
#searchButton,
#prev,
#next {
  border-top: 1px solid black;
  margin-right: 4px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: inset;
}
